<h2>CHOOSE YOUR PAYMENT METHOD</h2>

<table class="table">
    <tr>
        <th class="paynow">Pay Now</th>

    </tr>
    <hr>
    <tr>
        <td class="btn"><button>amazon pay >></button>
            <p>USE YOUR AMAZON ACCOUNT</p>
        </td>
    </tr>
    <hr>

    <mat-radio-group aria-label="Select an option">


        <tr>
            <td class="debit"><mat-radio-button value="1">Debit/Credit Card</mat-radio-button> </td>
        </tr>
        <hr>
        <tr>
            <td class="gpay"><mat-radio-button value="2"><span>G</span>pay</mat-radio-button> </td>
        </tr>
        <hr>
        <tr>
            <td class="paytm"><mat-radio-button value="3"><span>Pay</span>tm</mat-radio-button> </td>
        </tr>
        <hr>
        <tr>
            <td class="cash"><mat-radio-button value="4">Cash on delivey</mat-radio-button> </td>
        </tr>


    </mat-radio-group>

    <button class="payment" routerLink="../confirmed">Payment Confirmed</button>
</table>

