<div class="register">

    <form  (ngSubmit)="submit()" #myForm="ngForm" class="form-box">
        <h1 class="header">Register</h1>

        <div class="fill-box">
            <label for="email">Email</label>
            <input type="email" id="email" class="input-form" placeholder="Emai Address" [(ngModel)]="form.email"
                name="email" #email="ngModel" required />
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="emailValid">
            Email field must be valid
        </div>

        <div class="fill-box">
            <label for="password">password</label>
            <input type="password" id="password" class="input-form" placeholder="password" [(ngModel)]="form.password"
                name="password" #password="ngModel" required />
        </div>

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="passwordValid">
            Password field must be valid
        </div>

        <div class="fill-box">
            <label for="password">Confirm password</label>
            <input type="confirm_password" id="confirm_password" class="input-form" placeholder="confirm_password"
                [(ngModel)]="form.confirm_password" name="confirm_password" #confirm_password="ngModel" required />
        </div>

        <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
            class="confirm_password">
            Confirm_Password field must be valid
        </div>

        <div class="fill-box">
            <button type="submit" [disabled]="myForm.form.invalid" class="submit" >
                <ng-container *ngIf="isLoading()">
                    Loading...
                </ng-container>

               <ng-container *ngIf="!isLoading()">
                Submit
               </ng-container>
               
        </button>
        </div>
    </form>
</div>