.register {
    margin: 0 250px;
    border: 1px solid #f5ddef;
    border-radius: 15px;
    width: 350px;
    height: 350px;
    background: #f5ddef;



    .form-box {
        padding: 4px;
        color: #61044a;
    }

    label {
        font-size: 20px;
        font-weight: 600;
    }
}

.fill-box {
    margin: 20px;

}

.header {
    text-align: center;
    margin: 0;
}

.input-form {
    padding: 2px;
    width: 250px;
    border: 2px solid #7e0b5b;
    border-radius: 5px;
}

.submit {
    padding: 10px 40px;

    background: #61044a;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #61044a;
    border-radius: 15px;
    cursor: pointer;

}

.submit:hover {
    background: #9b3381;
}

.emailValid,
.passwordValid,
.confirm_password {
    padding: 2px;
    background: #f06060;
    color: #700707;
    border: 1px solid #f06060;
    margin: 0;
}