h1 {
    color: #ffffff;
    margin: 0 45px;
    border: 1px solid #630438;
    background: #630438;
    border-radius: 15px;
    padding: 3px 15px;
}

h3 {
    margin: 10px 50px;
    font-size: 22px;
    font-weight: 700;
    color: #a0045a;
}

ul li {
    list-style-type: decimal;
    color: #100572;
    margin: 0 45px;
    font-size: 15px;
    font-weight: 600;
    list-style-type: circle;
}