<div class="container">
    <div>
        <h3>Reach Us</h3>

        <address>140/1A1A1, <br>Santhana Nagar, <br>Panchatcharam Ayyanar Temple, <br>Surakkulam,
            <br>Sivaganga-630562,<br> India
        </address>
    </div>
    <div>
        <h3>Proprietor</h3>
        <p>M.Sujatha</p>
        <p>V.K.Vijaya kumar</p>
    </div>
    <div>
        <h3>Need assistance or help?</h3>
        <p><a>sreehiventerprise12345@gmail.com</a></p>
        <p><a>sujathamanic@234gmail.com</a></p>
        <h3>WhatsApp</h3>
        <p>9876543210</p>
        <p>8968574635</p>
    </div>
    <div>
        <h3>Contact Us for more details</h3>
        <p>Mobile Number</p>
        <input type="text" placeholder="Enter your mobile" />
        <p>Requirement Details</p>
        <textarea class="textarea" placeholder="Aditional details about your requirement"></textarea>
        <button class="btn">Submit Requirement</button>
    </div>
</div>